# Python
__pycache__/
*.pyc
.env

# Docker
*.log
*.env
*.pem

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# Kubernetes
.kube/

# Jupyter
.ipynb_checkpoints/

# Local uploads
services/monolith/uploads/
services/storage-service/storage/

# Credentials
jenkins/credentials.txt
